#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menu "Frameworks"

config FRAMEWORKS
    bool "Enable Frameworks"
    default n
    ---help---
        Enable Frameworks

endmenu # FRAMEWORKS
