#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config GPSTEST
	bool "GPSTEST"
	default y
	select SERVICES_RIL
	select NETUTILS_PING if NET_ICMP_SOCKET
	select NETUTILS_PING6 if NET_ICMPv6_SOCKET
	---help---
	Enable the GPSTEST

if GPSTEST

config GPSTEST_PRIORITY
	int "gpstest task priority"
	default 80
	---help---
	The priority for gpstest task.

config GPSTEST_STACKSIZE
	int "gpstest task stack size"
	default 2048
	---help---
	The stack size allocated for the gpstest task.

config GPSTEST_AUTO_START
	bool "gpstest auto start"
	default n
	---help---
	Start the gpstest automatically.

endif # GPSTEST
