#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#
config UZLIB
	bool "UZLIB"
	default n
	---help---
	Enable the uzlib test

if UZLIB

config UZLIB_STACKSIZE
	int "uzlib test task stack size"
	default 16384
	---help---
	The stack size allocated for the UZLIB task.


config UZLIB_PRIORITY
	int "uzlib test priority"
	default 100

endif # UZLIB
