#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config OTA
	bool "OTA"
	default n
	---help---
	Enable the OTA

if OTA

config OTA_PRIORITY
	int "ota task priority"
	default 80
	---help---
	The priority for ota task.

config OTA_STACKSIZE
	int "ota task stack size"
	default 2048
	---help---
	The stack size allocated for the ota task.

endif # OTA
