#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config ISP_FIRMWARE
    bool "isp firmware"
    default n
    ---help---
        ISP firmware for v1

config ISP_SIMPLE_HOST
	bool "isp simple host"
	default n

if ISP_FIRMWARE

config ISP_FIRMWARE_PROGNAME
    string "Program name"
    default "isp_firmware"

config ISP_FIRMWARE_PRIORITY
    int "isp firmware task priority"
    default 100

config ISP_FIRMWARE_STACKSIZE
    int "isp firmware stack size"
    default 2048

endif
