#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config GPIODEMO
	bool "GPIODEMO"
	default n
	select ARCH_CHIP_SONG
	select IOEXPANDER
	select DEV_GPIO
	select GPIO_LOWER_HALF
	select SONG_IOE
	select PINCTRL
	select SONG_PINCTRL
	---help---
	Enable the GPIODEMO

if GPIODEMO

config GPIODEMO_PRIORITY
	int "GPIO demo task priority"
	default 100

config GPIODEMO_STACKSIZE
	int "GPIO demo stack size"
	default 2048

endif
