#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config FISHDEMO
	bool "FISHDEMO"
	default n
	select FS_FAT
	select SCHED_WORKQUEUE
	select SIG_EVTHREAD
	select SCHED_LPWORK
	---help---
	Enable the FISHDEMO

if FISHDEMO

config FISHDEMO_PRIORITY
	int "FishDemo task priority"
	default 100

config FISHDEMO_STACKSIZE
	int "FishDemo stack size"
	default 2048

config FISHDEMO_AUTO_START
	bool "fishdemo auto start"
	default n
	---help---
	Start the fishdemo automatically.

endif
